<div class="ProfileSettings">
  <h1>{{ 'PROFILE.TITLE' | translate }}</h1>
  <div *ngIf="user">
    <div class="ProfileSettings__UserName">
      <span>{{ 'USERNAME' | translate }}</span> :
      <span>{{ user?.username }}</span>
    </div>
    <div class="ProfileSettings__UserName">
      <span>{{ 'EMAIL' | translate }}</span> : <span>{{ user?.email }}</span>
    </div>
    <div class="ProfileSettings__InputContainer">
      <app-text-input
        [disabled]="savingProfile"
        label="{{ 'FIRST_NAME' | translate }}"
        [(inputModel)]="user.firstName"
      >
      </app-text-input>
    </div>
    <div class="ProfileSettings__InputContainer">
      <app-text-input
        [disabled]="savingProfile"
        label="{{ 'LAST_NAME' | translate }}"
        [(inputModel)]="user.lastName"
      >
      </app-text-input>
    </div>
    <app-button buttonText="Save" (action)="saveUser()"></app-button>
  </div>

  <p *ngIf="loadingProfile">
    {{ 'PROFILE.LOADING' | translate }}
  </p>
  <p *ngIf="savingProfile">
    {{ 'PROFILE.SAVING' | translate }}
  </p>
  <p class="ProfileSettings__Warning" *ngIf="errorMessage">
    <span>{{ errorMessage | translate }}</span>
  </p>
</div>

<pre>{{ user | json }}</pre>
