<div class="ProfileSettings">
  <div>
    <h1>{{ 'PROFILE.TITLE' | translate }}</h1>
  </div>
  <div *ngIf="user" class="ProfileSettings__Form">
    <div class="ProfileSettings__UserName">
      <span>{{ 'USERNAME' | translate }}</span> :
      <span>{{ user?.username }}</span>
    </div>
    <div class="ProfileSettings__Email">
      <span>{{ 'EMAIL' | translate }}</span> : <span>{{ user?.email }}</span>
    </div>
    <div class="ProfileSettings__InputContainer">
      <app-text-input
        [disabled]="savingProfile"
        label="{{ 'FIRST_NAME' | translate }}"
        [(inputModel)]="user.firstName"
      >
      </app-text-input>
    </div>
    <div class="ProfileSettings__InputContainer">
      <app-text-input
        [disabled]="savingProfile"
        label="{{ 'LAST_NAME' | translate }}"
        [(inputModel)]="user.lastName"
      >
      </app-text-input>
    </div>
    <app-button
      [buttonText]="'SAVE' | translate"
      (action)="saveUser()"
      [spinner]="savingProfile"
    ></app-button>
  </div>

  <app-feedback-message
    *ngIf="loadingProfile"
    [message]="'PROFILE.LOADING' | translate"
    type="progress"
  ></app-feedback-message>
  <app-feedback-message
    *ngIf="savingProfile"
    [message]="'PROFILE.SAVING' | translate"
    type="progress"
  ></app-feedback-message>
  <app-feedback-message
    *ngIf="errorMessage"
    [message]="errorMessage | translate"
    type="error"
  ></app-feedback-message>
</div>
