@import '../../styles/variables.scss';
.ProfileSettings {
  padding: 1em;
  min-height: 500px;
  color: $grey;

  &__InputContainer {
    margin-bottom: 1.8em;
  }

  &__UserName,
  &__Email {
    margin-bottom: 1em;
  }

  &__UserName,
  &__Email {
    font-size: 1.2em;
    font-weight: 300;
  }

  &__Form {
    margin-bottom: 1.2em;
  }
}
