@import '../../../styles/variables.scss';

.TextInput {
  label,
  input {
    display: block;
  }

  input {
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid $dark;
    font-size: 0.8em;
  }
}
