@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

:root {
  --dark: #333333;
  --green: #28903a;
  --white: #fcfaf9;
  --tan: #f3d3bd;
  --grey: #5e5e5e;
}
